body {
    --color-background: #FDFBF9;
    --color-main: #2C3E50;
    --color-accent: #E67E22;
    --color-secondary: #ECF0F1;
    --color-text: #34495E;
    --culoare-contur: #F9D779;
}

$nav-btn-width: 10em;
$nav-btn-height: 3em;
$transition-fast: 0.3s;
$transition-slow: 1s;
$anim-duration: 0.5s;

%reset-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

%inline-element {
    display: inline-block;
}

@keyframes animatie_submeniu {
    0% {
        opacity: 0;
        transform: scale(0, 0);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

#hamburger, 
#ch-menu {
    display: none;
}

nav {
    background-color: var(--color-main);
    margin: 1rem;
}

ul.menu {
    display: flex;
    position: relative;
    @extend %reset-list;

    ul {
        @extend %reset-list;
        display: none;
        animation: animatie_submeniu $anim-duration linear;
        transform-origin: center top;

    }

    > li:hover ul {
        display: block;
        position: absolute;
        z-index: 17;
    }

    li {
        font-weight: bold;
        background-color: var(--color-main);
        border: 1px solid var(--culoare-contur);
        width: $nav-btn-width;
        height: $nav-btn-height;
        text-align: center;
        line-height: $nav-btn-height;
        color: var(--color-accent);
        transition: all $transition-slow linear;
        box-sizing: border-box;

        a {
            text-decoration: none;
            color: inherit;
            display: block;
            width: 100%;
            height: 100%;
        }

        &:hover {
            background-color: var(--color-background);
            color: var(--culoare-main);
            transition: linear $transition-fast;

            .text-nav {
                color: var(--culoare-main);
            }
        }
    }
}

.text-nav {
    @extend %inline-element;
    color: var(--color-main);
    transition: color $transition-fast linear;
}

.img-nav {
    @extend %inline-element;
}