#produse .grid-produse .produs {
    .info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    table.info-prod {
        flex-grow: 1;
        border-collapse: collapse;
        text-align: left;

        th, td {
            padding: 5px;
        }
    }

    figure {
        margin: 0;
        flex-shrink: 0;

        img {
            width: 250px;
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    .descriere {
        margin-top: 15px;
    }
}