main {
  margin-left: calc(-1 * var(--margine-pagina));
  margin-right: calc(-1 * var(--margine-pagina));
  padding-left: var(--margine-pagina);
  padding-right: var(--margine-pagina);
  background-color: var(--color-main);
}

#zona-video {
  margin-left: calc(-1 * var(--margine-pagina));
  margin-right: calc(-1 * var(--margine-pagina));
  padding-left: var(--margine-pagina);
  padding-right: var(--margine-pagina);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--color-main);
}