body{
    --color-background: #FDFBF9;
    --color-main: #2C3E50;
    --color-accent: #E67E22;
    --color-secondary: #ECF0F1;
    --color-text: #34495E;
    --culoare-contur: #F9D779;

    --margine-pagina: 100px;
    --gap-celule: 20px;

    background-color: var(--culoare-background)
}


p{
    border: 1px solid var(--culoare-background)
}

main{
    margin-left: var(--margine-pagina);
    margin-right: var(--margine-pagina);
}

h1, h2, h3 {
    color: var(--color-main);
    border-bottom: 2px solid var(--color-secondary);
    padding-bottom: 10px;
}

a {
    color: var(--color-accent);
    text-decoration: none;
    transition: color 0.3s;
}

table thead th {
    background-color: var(--color-main);
    color: white;
}

details {
    background-color: var(--color-secondary);
    border-left: 5px solid var(--color-accent);
}

/* resetare spatiere */
figure{
    margin: 0;
}

footer{
    background-color: var(--color-secondary);
}

.google-sans-text {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

#grid-pagina{
    display: grid;
    gap: var(--gap-celule);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"welcome welcome"
                         "promotii produse"
                         "faq detalii-tehnice"
}

#grid-pagina > *{
    border: 1px solid var(--culoare-contur);
    padding: 10px;
    box-shadow: 0 0 5px var(--culoare-contur);
}

#contact-footer{
    display: grid;
    gap: var(--gap-celule);
}

figure > *{
    width: 100
}

#welcome{
    grid-area: welcome;
}
#promotii{
    grid-area: promotii;
}

#produse{
    grid-area: produse;
}

#faq{
    grid-area: faq;
}

#detalii-tehnice{
    grid-area: detalii-tehnice;
}



@media screen and (max-width:700px){
    body{
        --margine-pagina: 80px;
        --gap-celule: 10px;
    }
}

@media screen and (max-width:1200px){
    body{
        --margine-pagina: 60px;
        --gap-celule: 5px;
    }
}