
html {
    font-size: 18px;
    transition: font-size 0.3s ease;
}

body {
    --color-background: #FDFBF9;
    --color-main: #2C3E50;
    --color-accent: #E67E22;
    --color-secondary: #ECF0F1;
    --color-text: #34495E;
    --color-border: #F9D779;

    --margine-pagina: 100px;
    --gap-celule: 20px;

    background-color: var(--culoare-background)
}


#print-banner {
    display: none;
}

p {
    border: 1px solid var(--culoare-background)
}

header, main{
    margin-left: var(--margine-pagina);
    margin-right: var(--margine-pagina);
}

h1,
h2,
h3 {
    color: var(--color-main);
    border-bottom: 2px solid var(--color-secondary);
    padding-bottom: 10px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: var(--color-accent);
    text-decoration: none;
    transition: color 0.3s;
}

details {
    background-color: var(--color-secondary);
    border-left: 5px solid var(--color-accent);
}

#math-formula{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px color=var(--color-accent);
    border-radius: 20px;
}

math {
    display: block;
    background-color: var(--color-secondary);
    padding: 1em;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    font-size: 1.2em;
    margin: 1em 0;
}
math mi {
    color: var(--color-accent);
    font-style: italic;
    font-weight: bold;
}

math mn {
    color: var(--color-main);
    font-weight: bold;
}

math mo {
    color: var(--color-text);
    padding: 0 0.25em;
}

#mu{
    color: var(--color-main);
}

#logo-animat:hover{
    transition: transform 2s ease-in-out, opacity 0.3s;
}

table thead th {
    background-color: var(--color-main);
    color: white;
}

#tabel-promotii {
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1rem;
    width: 100%;
}

#tabel-promotii tbody tr {
    transition: box-shadow 0.5s;
}

#tabel-promotii tbody tr:hover {
    box-shadow: inset 0 0 10px rgba(230, 126, 34, 0.4);
}

#tabel-promotii th,
#tabel-promotii td {
    border: 1px solid var(--color-secondary);
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

#tabel-promotii thead th {
    border-bottom: 4px solid var(--color-main);
}

#tabel-promotii tfoot td {
    border-top: 4px solid var(--color-accent);
    border-left: 4px solid var(--color-accent);
    border-right: 4px solid var(--color-accent);
    border-bottom: 4px solid var(--color-accent);
}

#tabel-promotii td:nth-child(even) {
    border-left: 2px solid var(--color-border);
}

#tabel-promotii td:nth-child(odd):not(:first-child) {
    border-left: 2px solid var(--color-accent);
}

#video-vtt {
    width: auto;
    height: 40%;
    min-width: 320px;
    max-width: 1000px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(44, 62, 80, 0.2);
    border: 2px solid var(--color-border);
}

::cue {
    background-image: linear-gradient(90deg, var(--color-accent), var(--color-main), var(--color-accent));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: "Google Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    background-color: rgba(253, 251, 249, 0.85);
    padding: 5px 15px;
}

/* resetare spatiere */
figure {
    margin: 0;
}

footer {
    background-color: var(--color-main);
    color: var(--color-background);
    margin-top: 50px;
    padding: 20px var(--margine-pagina);
    display: flex;
    align-items: center;
    flex-direction: column;

}

footer>* {
    margin-bottom: 20px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.iframe-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-buttons > a{
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to bottom, var(--color-main), var(--color-accent));
    color: white;
    text-decoration: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 10px;
    transition: all 0.25s linear;
    box-shadow: inset 0 0 0 2px white, inset 0 0 50px rgba(230, 126, 34, 1);
    border: 2px solid var(--color-main);
}

.iframe-buttons > a:hover{
    background: white;
    color: var(--color-main);
}

.playlist-container {
    height: 1150px;
    padding-bottom: 0;
}

.pdf-viewer {
    width: 100%;
    height: 350px;
    border: none;
}

.google-sans-text {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}

#grid-logitech{
    display: grid;
    gap: var(--gap-celule);
    grid-template-columns: 1fr 1fr;
    grid-area: grid-logitech;
    grid-template-areas:"text-logitech-gaming imagine-g502"
                        "specificatii-g502 imagine-g502"
                        "specificatii-g502 video-g502"
                        "video-logitech-gaming video-logitech-gaming";
}

#grid-logitech > *{
    padding: 10px;
    margin: 5px;
} 

#grid-pagina {
    display: grid;
    gap: var(--gap-celule);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "welcome welcome user"
        "setup-map promotii online-users"
        "produse promotii online-users"
        "produse faq info-site-server"
        "grid-logitech grid-logitech grid-logitech";
}

#grid-pagina>* {
    border: 1px solid var(--color-border);
    padding: 10px;
    box-shadow: 0 0 5px var(--color-border);
}

#welcome,
#video-G502,
#specificatii-G502,
#faq {
    background-color: var(--color-secondary);
}

#contact-footer {
    display: grid;
    gap: var(--gap-celule);
}


#welcome {
    grid-area: welcome;
}

#setup-map {
    grid-area: setup-map;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);
}

#setup-map{
    width: 95%;
    height: 95%;
}

#promotii {
    grid-area: promotii;
}

#produse {
    grid-area: produse;
}

#faq {
    grid-area: faq;
}

#imagine-G502 {
    grid-area: imagine-g502;
}

#imagine-G502 img {
    width: 100%;
}

#video-G502 {
    grid-area: video-g502;
}

#text-G502 {
    grid-area: text-g502;
}

#specificatii-G502 {
    grid-area: specificatii-g502;
}

#text-logitech-gaming {
    grid-area: text-logitech-gaming;
}

#video-logitech-gaming {
    grid-area: video-logitech-gaming;
}

#info-site-server{
    grid-area: info-site-server;
}

#online-users{
    grid-area: online-users;
}

#user{
    grid-area: user;
}

#maps {
    width: 500px;
    height: 300px;
}

#link-top {
  position: fixed;
  bottom: 0.1em;
  opacity: 0.5;
  left: 1em;
  width: 6rem;
  box-sizing: border-box;
  height: 6rem;
  border-radius: 50%;   
  background: linear-gradient(var(--color-main), var(--color-accent), var(--color-main));
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px dashed var(--color-accent);
  transition: transform 2s ease-in-out, opacity 0.3s;
}

#link-top:hover {
  opacity: 1;
  transform: rotate(360deg);
}

#arrow {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-main);
  font-size: 2rem;
  font-weight: bold;
  transition: transform 2s ease-in-out;
}

#link-top:hover #arrow {
  transform: rotate(-360deg);
}

a:visited {
    color: var(--color-text); 
}

a[href^="http"] {
    position: relative;
    display: inline-block;
}

a[href^="http"]::before {
    content: "⮳ ";
    font-size: 1.5em; 
    vertical-align: middle;
    transition: color 0.3s ease;
}

a[href^="http"]:hover::before {
    color: var(--color-accent);
}

main a {
    background-image: radial-gradient(
        circle, 
        rgba(230, 126, 34, 0.3) 0%, 
        rgba(230, 126, 34, 0.3) 40%, 
        transparent 80%, 
        transparent 100%
    );
    background-position: center;
    background-size: 0% 0%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-out;
    padding: 0 4px;
    border-radius: 4px;
}
main a:hover {
    background-size: 100% 100%;
}

main a:active {
    border: 2px solid black;
}

@media screen and (max-width:1200px) {
    body {
        --margine-pagina: 60px;
        --gap-celule: 15px;
    }

    html {
        font-size: 16px;
    }

    #promotii {
        overflow-x: auto;
    }

    #grid-pagina {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "welcome setup-map"
            "user online-users"
            "faq promotii"
            "info-site-server produse"
            "grid-logitech grid-logitech";
    }

    .playlist-container {
        height: 400px;
    }

    .pdf-viewer {
        height: 500px;
    }
}

@media screen and (max-width:700px) {
    body {
        --margine-pagina: 20px;
        --gap-celule: 10px;
    }

    html {
        font-size: 14px;
    }

    #promotii {
        overflow-x: auto;
    }

    #grid-pagina {
        grid-template-columns: 1fr;
        grid-template-areas:
            "welcome"
            "user"
            "online-users"
            "setup-map"
            "promotii"
            "produse"
            "faq"
            "info-site-server"
            "grid-logitech";
    }

    .playlist-container {
        height: 350px;
    }

    .pdf-viewer {
        height: 450px;
    }
}